/* COMMON */

body{
    background: #FFFFFF;
}

/* HEADER */

header{
    width: 100%;
    height: 70px;
    background-color: #313131;
    display: flex;
    position: relative;
}

.menu{
    /* menu 크기, 위치 조정 */
    width: 100%;
    height: 68px;
    background: #000000;
    position: relative;
    /* btn들 위치 조정 */
    top: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

#btnOpen{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 36px;
    background: #04264c;
    padding: 7px 6px;
}

#btnClose{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 36px;
    background: #48b9ee;
    padding: 7px 6px;
}

/* menu 안에 material-icons(같은 라인에 있는 코드면 띄어쓰기X) */
.menu .material-icons{
    position: absolute;
} 

.menu .material-icons#btnOpen{
    display: block;
}

.menu .material-icons#btnClose{
    display: none;
}

/* SIDE MENU */
nav{
    position: absolute;
    width: 100%;
    height: 1120.67px;
    background: #EEEFF3;
    top: 138px;
    /* 안 보이게 고정 */
    transform: translate(-100%);
}