/* COMMON */

body{
    background: #FFFFFF;
}

/* HEADER */

header{
    width: 100%;
    height: 70px;
    display: inline-block;
    background-color: #313131;
    position: relative;
}

/* header link icons */
header ul{
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 32px;
} 

header ul li{
    float: left;
    cursor: pointer;
}

/* 경찰청 로고 */
#logo{
    width: 131;
    height: 16;
}

/* 국가상징 알아보기 */
#nationalIcon{
    display: inline;
}

#nationalIcon ul{
    position: flex;
}

#nationalIcon ul li img{
    width: 48px;
    height: 32.229px;
}

#nationalIcon ul li div{
    color: white;
    font-size: 10px;
    margin-left: 5px;
}

/* 보다 나은 정부 */
#goverment{
    width: 107px;
    height: 41px;
    margin-left: 20px;
}

/* 힘내라 대한민국 */
#fighting{
    width: 137px;
    height: 36px;
    margin-left: 21px;
}

/* 한/영 전환, 확대 축소 메뉴 */
#menuzoom{
    float: right;
    width: 76px; 
}

#english{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
}

#play{
    color: #9a9a9a;
    font-size: 5px;
}

#zoom{
    color: #FFFFFF;
   
}

#korean{
    font-size: 14px;
    border: 1px solid white;
}

#minimize{
    font-size: 22px;
    border: 1px solid white;
}

#add{
    width: 22px;
    height: 22px;
    font-size: 20px;
    position: absolute;
    margin-top: 9px;
    border: 1px solid white;
}

.menu{
    /* menu 크기, 위치 조정 */
    width: 100%;
    height: 68px;
    background: #000000;
    position: absolute;
    /* btn들 위치 조정 */
    top: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

#btnOpen{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 39px;
    background: #04264c;
    padding: 7px 6px;
}

#btnClose{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 39px;
    background: #48b9ee;
    padding: 7px 6px;
}

/* menu 안에 material-icons(같은 라인에 있는 코드면 띄어쓰기X) */
.menu .material-icons{
    position: absolute;
} 

.menu .material-icons#btnOpen{
    display: block;
}

.menu .material-icons#btnClose{
    display: none;
}

/* SIDE MENU */
nav{
    position: absolute;
    width: 100%;
    height: 1120.67px;
    background: #EEEFF3;
    top: 138px;
    /* 안 보이게 고정 */
    transform: translate(-100%);
}

/* 네비게이션 메뉴 */
header .menu .headerPrimary ul.main{
    position: relative;
    display: flex;
    flex-grow: 1;
    margin-left: 200px;
}

header .menu .headerPrimary ul.main li.item{
    position: relative;
    display: block;
    width: 117.23px;
}

header .menu .headerPrimary ul.main li.item .itemTitle{
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFFFFF;
}

header .menu .headerPrimary ul.main li.item .itemTitle:hover{
    color: #ffb71b;
}

header .menu .headerPrimary ul.main li.item .itemTitle .itemName{
    font-size: 17px;
    font-weight: 500;
}

header .menu .headerPrimary ul.main li.item .itemContents{
    position: absolute;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    display: none;
}

header .menu .headerPrimary ul.main li.item:hover .itemContents{
    display: block;
}

header .menu .headerPrimary ul.main li.item .itemContents>ul li{
    padding: 5px 12.5px;
    transition: .4s;
}